extends layout.pug
block content

	h1(class="m-5") Create user

	if errs
		each err in errs
			.alert.alert-danger= err

	form(action="/users/create" method="POST" enctype="multipart/form-data")
		.form-group
			label(for="name") Name
			input(type="text" name="name" id="name" class="form-control mr-1" value=values ? values.name : "")
		.form-group
			label(for="phone") Phone Number
			input(type="text" name="phone" id="phone" class="form-control mr-1" value=values ? values.phone : "")
		.form-group
			label(for="avatar") Avatar
			input(id="avatar" name="avatar" type="file")
		button.btn.btn-primary.mt-2 Create