extends layout.pug
block content

	h1(class="m-5") Create user

	form(action="/users/create" method="POST" class="d-flex")
		label(for="name") Name
		span &nbsp
		input(type="text" name="name" id="name" class="form-control mr-1")

		button Create