extends ../layout.pug
block content
	h2(class="ml-5") Products
	.form-group.d-flex.justify-content-end
		input(type="text" )
		button.btn.btn-primary Search
	div(class="row container")
		each product in products
			div(class="card ml-auto mb-3" style="width: 18rem;")
				img(src=product.image)
				div(class="card-body")
					h5.card-title=product.nam
					p.card-text=product.description
					a(href="/cart/add/" +product.id class="btn btn-primary") Add to card
	nav(aria-label="..." class="d-flex justify-content-end")
		ul(class="pagination")
			li(class="page-item disabled")
				a(class="page-link" href="#" tabindex="-1" aria-disabled="true") Previous
			li(class="page-item")
				a(class="page-link" href="#") 1
			li(class="page-item active" aria-current="page")
				a(class="page-link" href="#") 2
			li(class="page-item")
				a(class="page-link" href="#") 3
			li(class="page-item")
				a(class="page-link" href="#") Next
